extends ../layout

block content
    h1.
        Infophoto #{person._id}
    p Name: #{person.Name}
    p Surname: #{person.Surname}
    p CreatedDate: #{person.CreatedDate}
    p City: #{person.City}
    p Adress: #{person.Adress}
    p Phone: #{person.Phone}
